<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /><script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>

<body>
<h2>Builds POST Data </h2>

<!-- Language hints can be put in XML application directive style comments. -->
<?prettify lang=json linenums=true?>
<pre class="prettyprint" style="font-size:14px">
{"build": {
  "buildStatus": "Running",
  "buildResult": "success",
  "buildResultPrevious": "success",
  "buildResultDelta": "unchanged",
  "notifyType": "buildFinished",
  "buildFullName": "Cloud.Platform :: API Management :: 1.0 Continuous: Compile and Unit Test",
  "buildName": "1.0 Continuous: Compile and Unit Test",
  "buildId": "2515719",
  "buildTypeId": "CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest",
  "buildInternalTypeId": "bt9035",
  "buildExternalTypeId": "CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest",
  "buildStatusUrl": "http://teamcity.autodesk.com/viewLog.html?buildTypeId=CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest&buildId=2515719",
  "buildStatusHtml": "<span class=\"tcWebHooksMessage\"><a href=\"http://teamcity.autodesk.com/project.html?projectId=CloudPlatform_ApiManagement\">API Management</a> :: <a href=\"http://teamcity.autodesk.com/viewType.html?buildTypeId=CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest\">1.0 Continuous: Compile and Unit Test</a> # <a href=\"http://teamcity.autodesk.com/viewLog.html?buildTypeId=CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest&buildId=2515719\"><strong>816</strong></a> has <strong>finished</strong> with a status of <a href=\"http://teamcity.autodesk.com/viewLog.html?buildTypeId=CloudPlatform_ApiManagement_10ContinuousCompileAndUnitTest&buildId=2515719\"> <strong>success</strong></a> and was triggered by <strong>Pawan Darda</strong></span>",
  "rootUrl": "http://teamcity.autodesk.com",
  "projectName": "API Management",
  "projectId": "CloudPlatform_ApiManagement",
  "projectInternalId": "project501",
  "projectExternalId": "CloudPlatform_ApiManagement",
  "buildNumber": "816",
  "agentName": "ecs-d670c84a",
  "agentOs": "Linux, version 2.6.32-504.12.2.el6.x86_64",
  "agentHostname": "ecs-d670c84a.ecs.ads.autodesk.com",
  "triggeredBy": "Pawan Darda",
  "message": "Build Cloud.Platform :: API Management :: 1.0 Continuous: Compile and Unit Test has finished. This is build number 816, has a status of \"success\" and was triggered by Pawan Darda",
  "text": "Cloud.Platform :: API Management :: 1.0 Continuous: Compile and Unit Test has finished. Status: success",
  "buildStateDescription": "finished",
  "buildRunners": [
    "Command Line",
    "Python",
    "Command Line",
    "Command Line",
    "Command Line",
    "Command Line"
  ],
  "extraParameters": []
}}
</pre>

</body>
</html>